body{
    background-color: #060c36;
    color:#a2afde;

}

ul {
    list-style: none;
    background-color: #020c54;
    margin: 0;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    font-size: larger;
}

li a {
    text-decoration: none;
    color: greenyellow;
    padding: 5px 10px;
}

input[type="text"].question-input {
    width: 94%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  input[type="text"].option-input {
    width: 60%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  input[type="text"]:focus {
    outline: none;
    border-color: #333;
    box-shadow: 0 0 8px rgba(51, 51, 51, 0.2);
  }

  .question-block {
    margin-bottom: 30px;
  }

  button[py-click="translate_english"] {
    background-color: #a2afde;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
  }

  button[py-click="translate_english"]:hover {
    background-color: #575757;
  }

